@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .video-container video {
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }

    .video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transform-origin: center;
        transition: transform 0.5s ease;
        z-index: -1;
    }

    ::-webkit-scrollbar {
        width: 9px;
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #222222;
    }
}